* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    color: #fff;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, #0f0f0f, #3c3c3c);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 100%;
}

#menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#menu li {
    margin: 10px;
    color: white;
    position: relative; /* Needed for the underline */
}

#menu li a {
    color: #fff;
    text-decoration: none;
}

/* Underline effect on hover, focus, and active */
#menu li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px; /* Position underline at the bottom of the li */
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out; /* Smooth transition for the underline effect */
}

#menu li:hover::after,
#menu li:focus::after,
#menu li.active::after { /* Apply underline to active li */
    width: 100%; /* Expand underline to the full width of the li on hover, focus, or when active */
}




#name {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 500px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    #menu li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        position: relative;
    }

    #menu li::after {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: 3px;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        transition: width 0.3s ease-in-out;
        opacity: 0; /* Initially hide the underline */
    }

    #name {
        margin-bottom: 10px;
    }

    #menu li.active::after {
        width: calc(100% - 100px); /* Decrease width from both sides when active */
        opacity: 1; /* Show the underline for the active element */
    }
}


/* img */
#image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
#photo {
    display: block; 
    box-shadow: 0 4px 8px white; 
    transition: transform 0.3s ease; 
    width: 200px;
}

#photo:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px black;
}


.profile {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    padding: 3vw; /* Adjust padding based on viewport width */
    width: fit-content;
    margin: 10vh auto 0; /* Adjust margin based on viewport height */
    border-style: outset;
    border-color: #0f0f0f;
}

.profile:hover {
    transform: scale(1.1); /* Enlarge the entire profile */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increased shadow */
}

.name {
    font-size: 4vw; /* Adjust font size based on viewport width */
    color: black;
    transition: text-shadow 0.3s ease;
}

.profile:hover .name {
    text-shadow: 0.2vw 0.2vw 0.5vw black, 0.4vw 0.4vw 1vw silver; /* Black and silver text shadows */
}

.profile p {
    margin: 2vh 0; /* Adjust margin based on viewport height */
}

/* Media query for screens less than 500px */
@media (max-width: 500px) {
    .profile {
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 20px auto 0; /* Adjust margin for smaller screens */
    }
    
    .name {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
    
    .profile p {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
}


/* pagination */

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.pagination {
    display: inline-flex;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    padding: 20px;
    width: fit-content;
    margin: 30px auto;
    border-style: outset;
    border-color: #0f0f0f;
    background-color: #ddd;
    color: black;
    margin-top: 250px;
    font-size: medium;
}

.about:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 30px silver;
    text-shadow: silver;
}

.about p{
    font-size: large;
}

@media only screen and (max-width: 500px) {
    .about {
        margin: 100px 20px 0 20px;
        padding: 10px;
    }
}


.contact-me {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    padding: 20px;
    width: fit-content;
    margin: 150px auto 0 auto; /* Center horizontally and set top margin */
    border-style: outset;
    border-color: #0f0f0f;
    background-color: #ddd;
    color: black;
}

.contact-me:hover {
    transform: scale(1.1); /* Enlarge the entire contact-me section */
    box-shadow: 0 8px 30px silver; /* Increased shadow */
}

.contact-me h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-me p {
    font-size: 18px;
    line-height: 1.6;
}

.contact-me ul {
    list-style-type: none;
    padding: 0;
}

.contact-me ul ul {
    display: inline; /* Display the nested ul inline */
    padding-left: 0; /* Remove default padding */
    margin-left: 10px; /* Add some margin between items */
}

.contact-me ul ul li {
    display: inline; /* Display list items inline */
    margin-right: 10px; /* Add some margin between items */
}

.contact-me ul li {
    margin-bottom: 10px;
}

.contact-me ul li a {
    color: #351358;
    text-decoration: none;
}

.contact-me ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .contact-me {
        margin: 100px 20px 0 20px;
        padding: 10px;
    }
}



.gallery {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    padding: 20px;
    width: calc(100% - 200px);
    margin: 100px auto 0 auto; /* Center horizontally and set top margin */
    border-style: outset;
    border-color: #0f0f0f;
    color: black;
}

.gallery-item:hover {
    transform: scale(1.1); /* Enlarge the entire gallery item */
    box-shadow: 0 8px 30px silver; /* Increased shadow */
}

.gallery h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 20px;
}

.gallery-item img {
    width: 200px; /* Set the width to a specific value */
    height: 200px; /* Set the height to a specific value */
    object-fit: cover; /* Ensure the entire image is visible within the specified dimensions */
}



.gallery-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

